@import "partials/header";
@import "partials/index";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
	font-family: 'Poppins', sans-serif;
	background-image: url(../img/bubble.png);
	background-attachment: fixed;
}